.content__top{
    // background-color: red;
    margin-bottom: 40px;
    
    .content__top_mainParamsFilter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        gap:50px;
    }

}
