@import '../variables.scss';

.categories {
  .category{
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-block;
    width: max-content;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    white-space: nowrap;
    margin-right: 15px;
    @media (max-width:650px){
      padding: 5px 15px;
      font-size: small;
      margin-right: 5px
    }
    @include noselect();
    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }
    &:active {
      background-color: darken(#f9f9f9, 5%);
    }
    &.active {
      background-color: #282828;
      color: #fff;
    }
  }

}
