.root {
    padding: 100px;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
  
    span {
      font-size: 64px;
    }
    @media (max-width: 815px) {
        padding: 100px 40px;
        h1{
            font-size: 36px;
        }
    }
    @media (max-width: 580px) {
        padding: 100px 20px;
        h1{
            font-size: 32px;
        }
    }
    @media (max-width: 410px) {
        padding: 100px 10px;
        h1{
            font-size: 28px;
        }
    }
    
  }
  
  .description {
    font-size: 22px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
    @media (max-width: 425px) {
        font-size: 14px;
    }
  }