$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$app__container-width: 90%;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  llg: 1050px,
  xl: 1200px,

  xxl: 1400px
);

$duration: 0.15s;
